/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;300;400;500;600;700;800&family=Pacifico&display=swap');

/* removes default padding and margin */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#body {
    background-color: #007bff;
    min-height: 100vh;
    min-width: 100vw;
}

/* navbar */

nav {
    border-top: 1px solid #fafafa;
    background-image: linear-gradient(-360deg, #cd454c, #e30713);
    font-family: 'Montserrat', sans-serif;
    color: #fafafa;
    font-weight: 400;
}

nav a {
    color: #fafafa;
}

#navbar {
    width: 100vw;
}

.navbar-brand {
    letter-spacing: 0.5rem;
}

.navbar-toggler-icon {
    color: #fafafa;
}

#hamburger-icon {
    margin-top: 5px;
}

#user {
    font-size: 0.8rem;
    color: #007bff;
    padding-right: 20px;
}

#username {
    font-size: 0.8rem;
    color: #fafafa;

}

/* hero section */
#hero {
    position: relative;
    background-color: #007bff;
}

#hero-header {
    font-size: 15vw;
    font-family: 'Montserrat', sans-serif;
}

#hero-image {
    width: 100vw;
    height: auto;
}

#hero-text {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    left: 15px;
    top: 15px;
    color: #fafafab0;
}

#hero-button {
    position: absolute;
    font-family: 'Montserrat', sans-serif;
    left: 15px;
    bottom: 15px;
    color: #fafafab0;
}

.jumbotron {
    margin-bottom: 0;
    background-color: #007bff;
    color: #fafafa;
    font-family: 'Montserrat', sans-serif;
}

/* footer */
#footer {
    height: 50px;
    width: 100vw;
    background-color: #e30713;
    color: #fafafa !important;
    font-size: 2rem;
    margin: 0 auto;
    background-image: linear-gradient(-1deg, #cd454c, #e30713);
}

#footer a {
    margin: 0 auto;
    padding: 0 20px;
}

#footer span {
    font-size: 0.8rem;
    float: right;
    font-weight: 400;
    margin-top: 14px;
    margin-right: 10px;
    font-family: 'Montserrat', sans-serif;
}

#footer-container {
    border-top: 1px solid #3d0303;
    border-bottom: 1px solid #fafafa;
    text-align: center;
}

#footer li {
    display: inline-block;
    color: #fafafa;
}

#footer i,
#footer span {
    color: #fafafa;
}

#card {
    background-color: #fafafa;
    color: black;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

#site-title {
    font-size: 1.3rem;
}

#card h2 {
    margin-top: 10px;
}

#wind-direction {
    color: #e30713;
}

a:hover {
    text-decoration: none;
}

.headings {
    color: #e30713;
}

/* login */

#login-container {
    padding-top: 70px;
    min-height: 90vh;
    background-color: #0062cc;
    color: #fafafa;
}

#signup-span {
    color: orange;
}

#logout-container {
    padding-top: 70px;
    min-height: 90vh;
    background-color: #0062cc;
    color: #fafafa;
    padding-left: 30px;
}

#signup-container {
    padding-top: 70px;
    min-height: 90vh;
    background-color: #0062cc;
    color: #fafafa;
    padding-left: 30px;
}

#signup-orange {
    color: orange;
}

#contact-form {
    padding-top: 70px;
    min-height: 90vh;
    background-color: #0062cc;
    color: #fafafa;
    text-align: left;
    padding-left: 5vw;
    padding-bottom: 50px;
}

#upload-header {
    margin: 20px 0;
    padding-left: 20px;
}

#upload-header a {
    color: orange;
}

#upload-header h1 {
    color: #fafafa;
}

main {
    background-color: #007bff;
}

.card-body {
    padding: 5px;
}

.card-img-basic {
    max-height: 200px;
    object-fit: cover;
}

.montserrat {
    font-family: 'Lato', sans-serif;
}