{% extends "base.html" %}
{% load static%}

{% block content %}

<!-- photo -->
<section id="hero">
    <div id="hero-image-container">
        <img id="hero-image" src="{% static 'images/red-glider.jpeg' %}">
    </div>
    <div id="hero-text">
        <a href="https://www.reddit.com/r/freeflight/" target="_blank"> <button class="btn  btn-outline-light">Learn
                more about
                freeflight here</button>
        </a>
    </div>

    <div class="jumbotron" id="main-jumbo">
        <div class="container" id="jumbotron">
            <h1 class="display-3 p-2">Welcome to Hillbox</h1>
            <p id="jumbotron" class="p-3">This site has been built by pilots for pilots. Modern life is busy, it's hard
                to get
                away. Our aim at
                Hillbox is to provide tools that will enable pilots to have a easily accesible database of flying
                sites, helping you to get high.</p>
            <p class="p-3"><a class="btn btn-outline-light btn-lg" href="#" role="button">Sign Up &raquo;</a></p>
        </div>
    </div>



    {%endblock%}