{% extends "base.html" %}

{% block content %}
{% if user.is_authenticated %}

<div class="container-fluid contact-form" id="contact-form">
    <h1>Edit a Flying Site</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <button type='submit' class="btn btn-signup btn-danger right">Update Site</button>
    </form>
</div>
{% else %}

<div class="container-fluid contact-form" id="contact-form">
    <h1>You are not authorised to access this page. Sign in <a href="{% url 'account_login' %}">HERE</a></h1>

</div>
{% endif %}
{%endblock%}